<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix - Profile</title>
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
</head>
<body class='font-primary'>
    <nav class="flex justify-between items-center py-3 px-4 fixed w-full z-50">
        <div class="w-6/12">
            <img src="{% static 'assets/netflix.png' %}" alt="logo" class="w-5/12 md:w-2/12">
        </div>

        <div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'account_logout' %}" class='bg-primary_red py-1 px-3 text-white md:text-lg rounded-md'>
                    Logout
                </a>
            {% else %}
                <a href="{% url 'account_login' %}" class='bg-primary_red py-1 px-3 text-white md:text-lg rounded-md'>
                    Sign In 
                </a>
            {% endif %}
        </div>
        
    </nav>
    <main class='bg-primary_black min-h-screen w-full'>
        <section class="h-screen relative bg-no-repeat pb-8 pl-6 flex justify-end items-end bg-cover" style="background-image: url('{{last_movie.0.image.url}}');">
            <div>
                <h2 class="text-6xl font-semibold text-white my-4">
                    {{last_movie.0.title}}
                </h2>
                <p class=" w-11/12 md:w-5/12 font-medium text-white my-4">
                    {{last_movie.0.desc|slice:'290'}}
                </p>
                <div class="flex my-4">

                    <a href="{% url 'app:play-movie' movie_id=last_movie.0.uuid %}" class="flex items-center bg-white py-2 px-5 rounded-md">
                        <ion-icon name="play" class="text-2xl"></ion-icon>
                        <span class="ml-3 font-medium">
                            Play
                        </span>
                    </a>
    
                    <a href="{% url 'app:movie-detail' movie_id=last_movie.0.uuid %}" class="ml-4 text-white flex items-center bg-gray-500 bg-opacity-80 py-2 px-5 rounded-md">
                       
                        <ion-icon name="information-circle-outline" class="text-2xl" ></ion-icon>
                        <span class="ml-3 font-medium">
                            More Info
                        </span>
                    </a>
                </div>
            </div>
        </section> 
        <section class='bg-primary_black  min-h-screen flex justify-center py-10'>
            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    Popular on Netflix
                </h2>
                <div class="flex justify-center  items-center min-w-full  movie_lis">
                    {% for movie in movies %}
                        <a href="{% url 'app:movie-detail' movie_id=movie.uuid %}">
                            <div class=" h-40 m-4  bg-blue-500 flex-shrink-0 rounded-md cursor-pointer w-40">
                                <img src="{{movie.image.url}}" class="w-full h-full " alt="">
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
        
    </main>
</body>
</html>